<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="title-about">
        <h4 class="text-center">colectifacil</h4>
      </div>
      <div class="content">
        <p class="text-justify">colectifacil title is a project conducted by students of Inacap to start the project you need nodejs must have installed on your computer</p>
        <p class="text-justify">if you don’t have installed nodejs you need to do this.</p>
        <p class="text-justify">first you need to install nodejs</p>
        <p class="text-justify">download here<a href="https://nodejs.org/en/"> nodejs</a></p>
        <p class="text-justify">then you need to install bower run </p>
        <p class="text-justify"><code>npm install -g bower</code></p>
        <p class="text-justify">second clone project</p>
        <p class="text-justify">run <code>git clone https://github.com/hirosmans/colectifacil.git</code></p>
        <p class="text-justify">go to directory project run<code>cd path/to/your/project/</code></p>
        <p class="text-justify">install dependencies run<code>npm install && bower install</code></p>
        <p class="text-justify">now run this if your a mac developer<code>DEBUG=app npm start</code>to start express server.</p>
        <p class="text-justify">or run this if your pussy windows developer<code>set DEBUG=app & npm start</code>in you web browser enter localhost:3000.</p>
      </div>
    </div>
  </div>
</div>