
<!-- begin:slider -->
<div id="home">
	<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#home-slider" data-slide-to="0" class="active"></li>
			<li data-target="#home-slider" data-slide-to="1"></li>
			<li data-target="#home-slider" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active" style="background: url(../../../vendor/assets/bower_components/image-1.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="carousel-content">
								<h2 class="animated fadeInUpBig text-center text-black">colectifacil</h2>
								<p class="animated rollIn text-black text-center"><span class="text900">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span><br><br><a href="#" class="btn btn-green btn-lg">consectetur adipisicing elit.</a></p>  
								</div>
							</div> 
						</div>
					</div>
				</div>
				<div class="item" style="background: url(../../../vendor/assets/bower_components/image-2.jpg);">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="carousel-content">
									<h3 class="animated fadeInLeftBig text-left">Compras</h3>
									<p class="animated fadeInDownBig text-left"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> repellendus voluptas, quas alias ipsum neque</p>
									<a class="btn btn-green btn-lg animated fadeInRight" href="#">possimus corporis et nam distinctio</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#home-slider" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="right carousel-control" href="#home-slider" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
			<div class="pattern"></div>
		</div>
	</div>
	<!-- end:slider -->

	<!-- begin:plans -->
	<div id="plans" class="animated fadeIn">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-title"></div>
						<div class="card-body"></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-title"></div>
						<div class="card-body"></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="card">
						<div class="card-title"></div>
						<div class="card-body"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:plans -->

	<!-- begin:app -->
	<div id="app" class="animated fadeIn">
		<div class="row row-one">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-5 col-sm-5 col-xs-5 text-justify animated fadeInLeft">

				</div>
				<div class="col-md-7 col-sm-7 col-xs-7 animated fadeInRight">
					<div class="image-app text-justify">
					</div>
				</div>
			</div>
		</div>
		<div class="row row-two">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-7 col-sm-7 col-xs-7 animated rotateInUpLeft">
					<div class="image-app text-justify">
					</div>
				</div>
				<div class="col-md-5 col-sm-5 col-xs-5 text-justify rotateInUpRight">
				</div>
			</div>
		</div>
	</div>
	<!-- end:app -->

	<!-- begin:footer -->
	<div id="footer" class="animated fadeIn">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

			</div>
		</div>
	</div>
				<!-- end:footer -->