<script type="text/ng-template" id="signin.html">
  <div class="modal-header">
  	<h5 class="modal-title">sign in</h5>
  </div>
  <div class="modal-body">
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-md-12 col-sm-12 col-xs-12">
  				<div class="form-group">
  					<input type="email"
  								 placeholder="user@colectifacil.com"
  								 maxlength="100"
  								 class="form-control"
  								 ng-model="user.email">
  				</div>
  				<div class="form-group">
  					<input type="password"
  								 placeholder="*********"
  								 class="form-control"
  								 ng-model="user.password">
  				</div>
  				<div class="form-group">
  						<button class="btn btn-default btn-block" ng-click="signin()">login</button>
  				</div>
  				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
  					<div class="col-md-6 col-sm-6 col-xs-6">
  						<button class="btn btn-xs btn-primary"><i class="fa fa-facebook-official"></i></button>
  					</div>
  					<div class="col-md-6 col-sm-6 col-xs-6">
  						<button class="btn btn-xs btn-info"><i class="fa fa-twitter"></i></button>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</script>